.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.createNoteBox {
  width: 100vw;
  //height: 35vh;
  height: fit-content;
  
  //border: 2pt solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NoteBox {
  width: 100vw;
  height: fit-content;
  margin: 5px;
  //border: 2pt solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box1{
  margin-top: 10px;
  background-color: rgb(180, 249, 250);
  width: 30vw;
  height: fit-content;
  //border: 2pt solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20pt;

}
.box2{
  background-color: rgb(180, 249, 250);
  width: 20vw;
  height: 28vh;
  margin: 5px;
  //border: 2pt solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20pt;

}
.input1 {
  width: 90%;
  height: 7vh;
  text-align: center;

  background-color: transparent;
  border: 0px solid;
  font-family: inherit;
  color: black;
  font-size: 20px;
  font-weight: bold;
  box-shadow: inset 0 -1px 0;

}
*:focus {
  outline: none;
}
::placeholder {
  color: rgb(37, 34, 34);
  font-size: large;
}
textarea{
  color: #0c0c0c;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  
}
hr {
  height:5px;
  border-width:0;
  background-color:#e163a4;
}
button{
 
  background-color: transparent;
  border: 0;
  color: #1c1a1a;
  font-size: 20px;
  /* margin: 2px;
  padding: 2px 9px;
   */
  
}
button:active{
  color: red;
  font-weight: bold;
}
