html {
  font-size: 62.5%;
}

/* Smallest Devices */
@media screen and (max-width: 57.5rem) {
  html {
    font-size: 30%;
  }

  .NoteBox {
    min-height: 10rem;
  }
}

/* Small devices (landscape phones, 57.6rem and up) */
@media screen and (min-width: 57.6rem) {
  html {
    font-size: 48%;
  }
}

/* Medium devices (tablets, 76.8rem and up) */
@media screen and (min-width: 76.8rem) {
  html {
    font-size: 64%;
  }
}

/* Large devices (desktops, 99.2rem and up) */
@media screen and (min-width: 99.2rem) {
  html {
    font-size: 82.66%;
  }
}

/* Extra large devices (large desktops, 120.0rem and up) */
@media (min-width: 120.0rem) {
  html {
    font-size: 100%;
  }
}
.line{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #0c0c0c;
}
.createNoteBox {
  width: 100vw;
  height: fit-content;

  //border: .2rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NoteBox {
  
  width: 100vw;
  
  min-height: 30rem;
  height: fit-content;
  margin: .5rem;
  //border: .2rem solid rgb(227, 24, 193);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box1 {
  margin-top: 1.0rem;
  background-color: rgb(180, 249, 250);
  min-width: 18rem;
  width: 30vw;
  height: fit-content;
  //border: .2rem solid rgb(239, 18, 18);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem .5rem 1.5rem;
  border-radius: 2.0rem;

}

.box2 {
  background-color: rgb(180, 249, 250);
  min-width: 10rem;
  width: 17vw;
  
  min-height: 13rem;
  margin: .5rem;
  //border: .2rem solid rgb(31, 153, 74);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem .5rem 1.5rem;
  border-radius: 2.0rem;

}

.input1 {
  width: 90%;
  height: 7vh;
  text-align: center;

  background-color: transparent;
  border: 0rem solid;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: inset 0 -.1rem 0;

}

*:focus {
  outline: none;
}

::placeholder {
  color: rgb(37, 34, 34);
  font-size: 2rem;
}

textarea {
  color: #0c0c0c;
  font-size: 5rem;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;

}

hr {
  height: 2.5rem;
  border-width: 0;
  background-color: #e163a4;
}
button{
  cursor: pointer;
  outline: 0;
  display: inline-block;
  
  text-align: center;
  background-color: transparent;
  border: 0pt;
  padding: .6rem 1.2rem;
  font-size: 3rem;
  font-weight: bold;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #0d6efd;
  border-color: #0d6efd;
  :hover {
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
  }

}